<% title(@project.name, @ticket.title, 'Tickets') %>
<div id="ticket">
  <h2><%= @project.name %>/<%= @ticket.title %></h2>
  <%= simple_format(@ticket.description) %>
</div>

<%= link_to 'Edit Ticket', edit_project_ticket_path(@project, @ticket) %>
<%= link_to 'Return', project_path(@project) %>

